.search_container {
  position: relative;
  width: 100%;
}

.search_container i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #e2d0d0;
  pointer-events: none;
}

.input {
  background-color: #d9d9d96e;
  color: #1f1c1c;
  width: 100%;
  padding: 12px 15px 12px 45px;
  font-size: 20px;
  border: 2px solid #99c5fc;
  border-radius: 30px;
  outline: none;
  transition: border-color 0.3s;
}

.input::placeholder {
  color: #ccc;
}

.input:focus {
  border-color: #007bff;
}

.input::placeholder {
  color: #30495d;
}
