/* body {
  font-family: "Roboto", sans-serif;
  font-weight: 400; 
  font-style: normal; 
} */

.main_container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #333;
  color: white;
}

.header {
  flex: 2;
}
.tv_show_details {
  flex: 4;
}
.recommended_tv_shows {
  flex: 2;
}
