@font-face {
  font-family: 'Maximum Impact';
  src: url('./assets/fonts/Maximum Impact.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


h1 {
  font-family: 'Maximum Impact', sans-serif;
}