@font-face {
  font-family: "Maximum Impact";
  src: url("./assets/fonts/Maximum Impact.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Maximum Impact", sans-serif;
}

::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  width: 8px;
}

/* Mouse out on horizontal scrollbar */
::-webkit-scrollbar-thumb:horizontal {
  background: rgba(114, 100, 100, 0.4);
  border-radius: 10px;
}
